<%- include('partials/header') %>

<section class="blog py-5">
  <div class="container">
    <h2 class="text-center mb-4 animate__animated animate__fadeInDown">
      Our Blog
    </h2>
    <div class="row">
      <div class="col-md-4">
        <div class="blog-post animate__animated animate__fadeInUp hover-shadow">
          <img
            src="/images/blogs/blog1.png"
            class="img-fluid"
            alt="Blog Post 1"
          />
          <h5 class="mt-3">Choosing the Right Paint Color for Your Home</h5>
          <p>
            Learn tips and tricks on how to select the perfect paint color for
            your home.
          </p>
          <a href="/blog/post1" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-post animate__animated animate__fadeInUp hover-shadow">
          <img
            src="/images/blogs/blog2.png"
            class="img-fluid"
            alt="Blog Post 2"
          />
          <h5 class="mt-3">
            Interior vs. Exterior Paint: What You Need to Know
          </h5>
          <p>
            Understand the differences between interior and exterior paints and
            when to use them.
          </p>
          <a href="/blog/post2" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-post animate__animated animate__fadeInUp hover-shadow">
          <img
            src="/images/blogs/blog3.png"
            class="img-fluid"
            alt="Blog Post 3"
          />
          <h5 class="mt-3">How to Prepare Your Walls for Painting</h5>
          <p>
            Discover the essential steps to prepare your walls for a flawless
            paint job.
          </p>
          <a href="/blog/post3" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog-cta" class="py-5 bg-light text-center">
  <div class="container">
    <h2 class="animate__animated animate__fadeInUp">
      Stay Updated with Our Latest Posts
    </h2>
    <p class="lead animate__animated animate__fadeInUp">
      Subscribe to our blog and never miss an update!
    </p>
    <a
      href="/subscribe"
      class="btn btn-primary btn-lg animate__animated animate__fadeInUp"
      >Subscribe Now</a
    >
  </div>
</section>

<%- include('partials/footer') %>
