<%- include('partials/header') %>

<section class="cases py-5">
  <div class="container">
    <h2 class="text-center mb-4 animate__animated animate__fadeInDown">
      Our Work
    </h2>
    <div class="row">
      <div class="col-md-4">
        <div class="case-box animate__animated animate__fadeInUp hover-shadow">
          <img
            src="/images/cases/case1.png"
            class="img-fluid"
            alt="Case Study 1"
          />
          <h5>Residential Project</h5>
          <p>
            A complete interior and exterior paint job for a beautiful suburban
            home.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="case-box animate__animated animate__fadeInUp hover-shadow">
          <img
            src="/images/cases/case2.png"
            class="img-fluid"
            alt="Case Study 2"
          />
          <h5>Commercial Project</h5>
          <p>
            Transforming a commercial space with a vibrant color scheme and
            professional finish.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="case-box animate__animated animate__fadeInUp hover-shadow">
          <img
            src="/images/cases/case3.png"
            class="img-fluid"
            alt="Case Study 3"
          />
          <h5>Renovation Project</h5>
          <p>
            A fresh coat of paint to revitalize an older building, bringing it
            back to life.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="case-call-to-action"
  class="py-5 bg-warning text-white text-center"
>
  <div class="container">
    <h2 class="animate__animated animate__fadeInUp">Inspired by Our Work?</h2>
    <p class="lead animate__animated animate__fadeInUp">
      Let us help you transform your space. Contact us today to get started!
    </p>
    <a
      href="/contacts"
      class="btn btn-light btn-lg animate__animated animate__fadeInUp"
      >Get a Quote</a
    >
  </div>
</section>

<%- include('partials/footer') %>
